body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background:#EBF5EE;
}

.about-paragraph {
    font-size:20;
    line-height:30px;
}

.tiny-text {
    font-size:10;
}

.small-text {
    font-size:14;
}

.medium-text {
    font-size:20;
}

.large-text {
    font-size:32;
}

.dark-text {
    color: #07020D;
}

/************/
/*ABOUT PAGE*/
/************/

.about {
    text-align:center;
    width:1050px;
    margin:auto;
}

.about-header {
    font-size:32px;
    font-weight:normal;
    margin:50 auto 0 auto;
}

.about-team-members {
    display:inline-block;
}

.about-team-member {
    display:inline-block;
    width:150px;
    margin:0 50 0 50;
}

.about-team-member img {
    border-radius:50%;
    width:140px;
}

.team-desc {
    width:750px;
    margin:25 auto 50 auto;
}

.about-tech {
    list-style: none;
}

.about-content hr {
    margin-bottom:25px;
}

.about-visit-btn {
    background:#2E607D;
    color:#EBF5EE;
    width:400;
    height:70;
    font-size:32px;
    text-decoration:none;
    border-radius:15px;
    margin:50px auto 50px auto;
    border-style:none;
    cursor:pointer;
}

.about-visit-btn:hover {
    border-style:solid;
    border-width:2px;
    border-color:#2E607D;
    background:#07020D;
}

#hr-1 { width:100px; }
#hr-2 { width:140px; }
#hr-3 { width:150px; }
#hr-4 { width:220px; }

/************/
/*STATS PAGE*/
/************/
.stats-state-menu {
    position: relative;
}

.stats-content {
    text-align:center;
}



.stats-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 25 auto;
}


.menu select {
    background-color:#EBF5EE;
    border:none;
    border-bottom: 5px solid #32936F;
    color: #2E607D;
    padding: 12px;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin:25 auto 25 auto;
}

.stat-label {
    font-weight:bold;
    font-size:20px;
}

.stats-h2 {
    font-size:30px;
    font-weight:normal;
    margin:25 auto 25 auto;
}

.state-stats {
    height:260;
    margin:25 0 50 0;
}

.state-stat-div {
    display:inline-block;
    margin:0 50 0 50;
}

.stat-circle {
    text-align:center;
    border-radius:50%;
    width:140px;
    background:#B2DEBF;
    
    border: 3px solid #32936F;
    height:200px;
    width:200px;
}

.stat-total {
    margin: 70px auto 10px auto;
    font-size:28px;
    font-weight:bold;
}
.stat-new {
    margin: 0 auto 50 auto;
}

.chart-menu label {
    font-size:24px;
}

.chart-menu select {
    background-color:#EBF5EE;
    border:none;
    border-bottom: 2px solid #32936F;
    color: #2E607D;
    padding: 4px;
    width: 100px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}