body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background:#EBF5EE;
    margin:0;
    padding:0;
}

.about-paragraph {
    font-size:20;
    line-height:30px;
}

.tiny-text {
    font-size:10;
}

.small-text {
    font-size:14;
}

.medium-text {
    font-size:20;
}

.large-text {
    font-size:32;
}

.dark-text {
    color: #07020D;
}

/************/
/*ABOUT PAGE*/
/************/

.about {
    text-align:center;
    width:1050px;
    margin:auto;
}

.about-header {
    font-size:32px;
    font-weight:normal;
    margin:50 auto 0 auto;
}

.about-team-members {
    display:inline-block;
}

.about-team-member {
    display:inline-block;
    width:150px;
    margin:0 50 0 50;
}

.about-team-member img {
    border-radius:50%;
    width:140px;
}

.team-desc {
    width:750px;
    margin:25 auto 50 auto;
}

.about-tech {
    list-style: none;
}

.about-content hr {
    margin-bottom:25px;
}

.about-visit-btn {
    background:#2E607D;
    color:#EBF5EE;
    width:400;
    height:70;
    font-size:32px;
    text-decoration:none;
    border-radius:15px;
    margin:50px auto 50px auto;
    border-style:none;
    cursor:pointer;
}

.about-visit-btn:hover {
    border-style:solid;
    border-width:2px;
    border-color:#2E607D;
    background:#07020D;
}

#hr-1 { width:100px; }
#hr-2 { width:140px; }
#hr-3 { width:150px; }
#hr-4 { width:220px; }

/************/
/*STATS PAGE*/
/************/
.stats-state-menu {
    position: relative;
}

.stats-content {
    text-align:center;
}



.stats-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 0 auto;
}


.menu select {
    background-color:#EBF5EE;
    border:none;
    border-bottom: 5px solid #32936F;
    color: #2E607D;
    padding: 12px;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    margin:25 auto 25 auto;
}

.stat-label {
    font-weight:bold;
    font-size:20px;
}

.stats-h2 {
    font-size:30px;
    font-weight:normal;
    margin:35 auto 0 auto;
}

.state-stats {
    height:260;
    margin:25 0 50 0;
}

.state-stat-div {
    display:inline-block;
    margin:0 50 0 50;
}

.stat-circle {
    text-align:center;
    border-radius:50%;
    width:140px;
    background:#B2DEBF;
    
    border: 3px solid #32936F;
    height:200px;
    width:200px;
}

.stat-total {
    margin: 70px auto 10px auto;
    font-size:28px;
    font-weight:bold;
}
.stat-new {
    margin: 0 auto 50 auto;
}

.chart-menu {
    margin-top:50px;
    
}

.chart-menu label {
    font-size:24px;
}

.chart-menu select {
    background-color:#EBF5EE;
    border:none;
    border-bottom: 1px solid #32936F;
    color: #2E607D;
    padding: 4px;
    width: 100px;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
#chart{
  display: flex;
  align-items: center;
  justify-content: center
}

#hr-5 { 
    width:225px;
    margin-bottom:25px;
}
#hr-6 { 
    width:150px;
    margin-bottom:25px;
    
}


/********************/
/*QUESTIONNAIRE PAGE*/
/********************/

.quest-start-content {
    text-align:center;
}

.quest-start-content hr{
    width:500px;
}

.quest-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 10 auto;
}

.quest-normal-text {
    font-size:22px;
    width:450px;
    margin:25px auto 25px auto;
}

.start-quest-button {
    transition-duration: 0.4s;
    background: #32936F;
    color: white; 
    border-radius: 5px;
    border: 2px solid #32936F;
    cursor:pointer;
    font-size:22px;
    padding:7px;
}

.start-quest-button:hover {
    background: #B2DEBF;
    color: black; 
}

.survey-container {
    margin:auto auto 100px auto;
    padding-bottom: 100px;
    width:900px;
    text-align:left;
}

.survey-wrapper {
    text-align:left;
}

.sv-completedpage {
    margin-top:-50px;
    margin-bottom: 100px;
    padding:0;
}

#emailresultbtn{
    position:fixed;
    bottom:40;
    right:120;
}

/**********/
/*FAQ PAGE*/
/**********/

.faq-div {
    text-align: center;
}

.faq-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 10 auto;
}

.faq-div hr{
    width:350px;
    margin-bottom: 50px;
}

.faq-frame {
    border-radius: 15px;
    width: 65%;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #32936F;
    background: #B2DEBF;

}

.faq-category-button {
    padding:20px;
    width:95%;
    background: #32936F;
    margin: 5px 0 5px 0;
    font-size: 22px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color:#2E607D;
    cursor:pointer;
    transition: background 0.4s;
}

.faq-category-button:hover {
    border-width: 2px 2px 5px 2px;
    background:#EBF5EE;
    margin-bottom: 3px;
}


.faq-category-list {
    list-style-type: none;
    padding: 0;
    margin:20px;
}




.faq-ul {
    list-style-type: none;
    padding: 0;
    margin:0 20px 0 20px;
}



.faq-question {
    font-weight: bold;
    font-size: 14pt;
}

.faq-answer {
    font-size: 12pt;
    margin-bottom: 2%;
}

/**********/
/*ARTICLES*/
/**********/
.article-page {
    text-align: center;
    margin:auto;
    width:1050px;
}

.article-page-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 10 auto;
}

#hr-7 { 
    width:320px;
    margin-bottom:25px;
}

.article-ul {
    list-style-type: none;
    padding:0;
}

.article-li {
    display:inline-block;
}

.article-content { 
    display:inline-block;
    
    height:auto;
}

.article-image-container {
    max-width: 40%;
    margin:50px 2.5% 50px 5%;
    text-align: center;
    float: left;
}

.article-image {
    display: inline-block;
    margin:auto auto 25px auto;
    height:auto;
    width:100%;
    
    padding:1px;
    border:1px solid #32936F;
    background-color:#EBF5EE;
}

.article-text {
    display: inline-block;
    width: 40%;
    margin:50px 5% 50px 2.5%;
    text-align: left;
}
.article-title {
    font-weight: bold;
    font-size: 18pt;
    margin-top:0;
}

.article-desc {
    font-weight: normal;
    font-size: 14pt;
}

.article-link {
    transition-duration: 0.4s;
    background: #32936F;
    color: white; 
    border-radius: 5px;
    border: 2px solid #32936F;
    cursor:pointer;
    font-size:22px;
    padding:7px;
    margin:auto;
    text-decoration:none;
}

.article-link:hover {
    background: #B2DEBF;
    color: black; 
}

#hr-8 { 
    width:75%;
    margin: auto auto auto auto;
}

/***************/
/*TESTING SITES*/
/***************/
.testing-wrapper {
    text-align:center;
}

.testing-h1 {
    font-size:36px;
    font-weight:normal;
    margin:50 auto 10 auto;
}

#hr-8 {
    width: 500px;
    margin: 0 auto 50px auto;
}

.testing-content {
    width: 1050px;
    height: 630px;
    margin:auto;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    
}

.testing-map {
    float:left;
    width:60%;
    height:630px;
    margin:-3;
    border-width: 3px;
    border-style: solid;
    border-color:#32936F;
}

.testing-ul {
    height:630px;
    overflow-y: scroll;
    list-style-type: none;
    width:40%;
    margin:0;
    padding:0;
    float:right;
    background: #B2DEBF;
    margin:-3;
    border-width: 3px;
    border-style: solid;
    border-color:#32936F;
}

.testing-li {
    margin:10px;
}

#hr-9 {
    width:auto;
    margin:25px;
}

.testing-title {
    font-weight: bold;
    font-size: 18pt;
}

.testing-link {
    transition-duration: 0.4s;
    background: #32936F;
    color: white; 
    border-radius: 5px;
    border: 2px solid #32936F;
    cursor:pointer;
    font-size:16px;
    padding:7px;
    margin:7px auto 7px auto;
    text-decoration:none;
}

.testing-desc {
    margin-bottom:25px;
}

.city-input {
    border: none;
    border-bottom: 2px solid #32936F;
    outline:none;
    background: #EBF5EE;
    font-size:22px;
    margin-right:10;
}
.city-submit {
    transition-duration: 0.4s;
    background: #32936F;
    color: white; 
    border-radius: 5px;
    border: 2px solid #32936F;
    cursor:pointer;
    font-size:22px;
    padding:7px;
}

.city-submit:hover {
    background: #B2DEBF;
    color: black; 
}

/******/
/*HOME*/
/******/

.map {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
path:hover {
    opacity: 0.75;
}

.covid-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.active-cases {
   font-size: 40pt; 
}
.map-legend {;
    border: 5px outset gray;
    border-radius: 5px;
    margin-bottom: 50;
    margin-left: 100px;
    padding:0 5 0;
}
.map-legend-color {
    font-size: 20pt;
}
.color-4000 {
    color: #006400;
}
.color-3500 {
    color: #355e3b;
}
.color-3000 {
    color: #228b22;
}
.color-2500 {
    color: #4cbb17;
}
.color-2000 {
    color: #32cd32;
}
.color-1500 {
    color: #77dd77;
}
.color-1000 {
    color: #00ff7f;
}
.color-500 {
    color: #90EE90;
}
.color-100 {
    color: #a3f7bf;
}
.color-0 {
    color: #aaf0d1;
}

.active-cases {
    text-align: center;
    margin-top: 50;
}

#select-state {
    position: absolute;
    right: 2.2%;
}