body {
    background-color: #f4f4f2;
}

.covid-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.articles-ul {
    list-style-type: none;
}

.article-li {
    background-color: #e8e8e8;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-width: 5px;  
    border-style: ridge;
}

.article-title {
    font-weight: bold;
    font-size: 14pt;
}

.article-image {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#article-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

#faq-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

#stats-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.stats-h1 {
    margin: 2% -2%;
}

#login-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.login-h1 {
    margin: 2% -2%;
}

#select-state{
    font-size: 14pt;
    margin-left: 2%;
}

.state-map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 50px;
}


path:hover {
    opacity: 0.75;
}

#chart{
  display: flex;
  align-items: center;
  justify-content: center
}

.faq-category-list {
    list-style-type: none;
    padding: 0;
    margin:20px;
}

.faq-frame {
    border-radius: 15px;
    width: 65%;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;

}

.faq-div {
    text-align: center;
}

.faq-ul {
    list-style-type: none;
    padding: 0;
    margin:0 20px 0 20px;
}

.faq-h1 {
    margin: 2% -2%;
}

.faq-question {
    font-weight: bold;
    font-size: 14pt;
}

.faq-answer {
    font-size: 12pt;
    margin-bottom: 2%;
}

.faq-category-button {
    padding:10px;
    width:95%;
    background: #187bcd;
    margin: 5px 0 5px 0;
    font-size: 18px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color:#03254c;
}