body {
    background-color: #f4f4f2;
    padding:0;
    margin:0;
}


.covid-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#faq-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

#stats-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.stats-h1 {
    margin: 2% -2%;
}

#login-div {
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.login-h1 {
    margin: 2% -2%;
}

#select-state{
    font-size: 14pt;
    margin-left: 2%;
}

.map {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
path:hover {
    opacity: 0.75;
}

#chart{
  display: flex;
  align-items: center;
  justify-content: center
}

.faq-category-list {
    list-style-type: none;
    padding: 0;
    margin:20px;
}

.faq-frame {
    border-radius: 15px;
    width: 65%;
    margin:auto;
    padding-top: 5px;
    padding-bottom: 5px;

}

.faq-div {
    text-align: center;
}

.faq-ul {
    list-style-type: none;
    padding: 0;
    margin:0 20px 0 20px;
}

.faq-h1 {
    margin: 2% -2%;
}

.faq-question {
    font-weight: bold;
    font-size: 14pt;
}

.faq-answer {
    font-size: 12pt;
    margin-bottom: 2%;
}

.faq-category-button {
    padding:10px;
    width:95%;
    background: #187bcd;
    margin: 5px 0 5px 0;
    font-size: 18px;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color:#03254c;
}

#select-state {
    position: absolute;
    right: 2.2%;
}
.map-legend {;
    border: 5px outset gray;
    border-radius: 5px;
    margin-bottom: 50;
    margin-left: 100px;
    padding:20;
}
.map-legend-color {
    font-size: 24pt;
}
.color-4000 {
    color: #820000;
}
.color-3500 {
    color: #8F1C1C;
}
.color-3000 {
    color: #9D3838;
}
.color-2500 {
    color: #AB5555;
}
.color-2000 {
    color: #B97171;
}
.color-1500 {
    color: #C78D8D;
}
.color-1000 {
    color: #D5AAAA;
}
.color-500 {
    color: #E3C6C6;
}
.color-100 {
    color: #F1E2E2;
}
.color-0 {
    color: #FFFFFF;
}

.active-cases {
    text-align: center;
    margin-top: 50;
}