<html>
    <head>
        <link rel="stylesheet" href={{ url_for('static', filename='nav.css') }} />
        <link rel="stylesheet" href={{ url_for('static', filename='main.css') }} />
        
        <link rel="stylesheet" type="text/css"
            href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
            
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
        <meta name="viewport" content="initial-scale=1.0,
            width=device-width" />
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
            <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    </body>
</html>